*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
body, .time, .right-side{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
body{
    height: 70vh; 
    background-color: rgb(206, 219, 228);
}
.digital-clock{
    background-color: rgba(43, 46, 46);
    width: 400px;
    /* padding: 10px 0; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(87, 85, 85); */
    position: relative;
    
}
.digital-clock::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, rgb(10, 201, 26),rgb(248, 252, 13),rgb(6, 10, 214));
   
    top: -5px;
    left: -5px;
    bottom:-5px;
    right:-5px;
    background-size: 200% 200%;
    filter: blur(10px);
    z-index: -1;

    animation: glowing 4s ease infinite;
}

@keyframes glowing{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}
.hours{
    font-size: 100px;
    color: rgb(255, 255, 255);
    background: -webkit-linear-gradient(rgb(250, 247, 247),rgb(9, 9, 209));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    /* line-height: 150px; */
    /* padding:0 20px; */

}
.right-side{
    display: flex;
    flex-direction: column;
}
.dot{
    font-size: 4em;
    color: gray;
    padding: 0 10px;
    /* transform: translateY(-100px); */
}
.minute{
    font-size: 4em;
    color: white;
    background: -webkit-linear-gradient(rgb(241, 247, 242),rgb(192, 241, 11));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.right-bottom{
   margin-left: 30px;
   color: white;
   transform: translateY(-15px);
}
.period, .second{
    font-size: 18px;
    margin-left: 10px;
}
.period{
    color: orange;
}
